<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="MqttHost" value="23.98.70.88"></add>
    <add key="MqttUser" value="loradev_mqtt"/>
    <add key="MqttPass" value="test123"/>
    <add key="PowerBiUrl" value="https://api.powerbi.com/beta/e4a5cd36-e58f-4f98-8a1a-7a8e545fc65a/datasets/e4e9fa7f-2900-49b3-a558-c525aad24882/rows?key=IELHo%2Ftd%2BzKOeWrl1WVyY1M4BbBylh8RRhueqtMiVLKf%2Fv3xrbo7WQNbInspA0cX6feuiLw2gUS1MmyrbzqctQ%3D%3D" />
    <add key="Interval" value="2000"/>
  </appSettings>
</configuration>